body {
    margin: 0 auto;
    background-image: url("../img/cookiebackground.jpg");
}

.nav-bar {
    margin: auto;
    height: 80px;
    width: 1011px;
    background: hsla(28, 61%, 62%, .5);
    border: 2px ridge hsla(11, 32%, 42%, .5);
}

.nav-center {
    width: 378px;
    margin: auto;
    background: hsla(11, 42%, 32%, .7);
    border: 2px ridge hsla(11, 32%, 42%, .5);
}

.logo {
    float: left;
    height: 50px;
    width: 34px;
    margin: 0px 10px 0px 10px;
}

.navFont {
    float: left;
    display: inline-block;
    margin-top: 0px;
    font-size: 27px;
    font-family: Brush Script MT;
    color: #F2F2F2;
    text-shadow: 2px 2px gray;
}

.nav-items {
    list-style-type: none;
    width: 284px;
    margin: auto;
}

.list-item {
    display: inline-block;
    margin: 0px 5px 0px 5px;
    height: 18px;
    width: 66px;
    background: #F2C185;
    border: 2px solid #D99962;
    text-align: center;
    box-shadow: 2px 2px;
}

li a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: #FFF;
}

.mid-bar {
    margin: auto;
    width: 1011px;
    height: 1000px;
    background: hsla(28, 61%, 62%, .5);
    border: 2px ridge hsla(11, 32%, 42%, .5);
    border-top: none;
}

.banner-image {
    width: 100%;
    height: 500px;
}

.words1 {
    display: inline-block;
    width: 49%;
    height: 485px;
    margin-top: 2px;
    float: left;
    margin-left: 5px;
    background: hsla(11, 42%, 32%, .7);
    border: 2px ridge hsla(11, 32%, 42%, .5);
    color: #FFF;
}

.words2 {
    display: inline-block;
    width: 49%;
    height: 485px;
    margin-top: 2px;
    float: right;
    margin-right: 5px;
    background: hsla(11, 42%, 32%, .7);
    border: 2px ridge hsla(11, 32%, 42%, .5);
    color: #FFF;
}

.footer {
    margin: auto;
    height: 80px;
    width: 1011px;
    background: hsla(28, 61%, 62%, .5);
    border: 2px ridge hsla(11, 32%, 42%, .5);
}

.footer-col {
    width: 66px;
    margin: 0 auto;
    margin-top: 12px;
}

.icon {
    color: hsla(11, 42%, 32%, 1);
}

.copy {
    font-size: 14px;
    text-align: center;
}

/*about/contact page only below*/

.col1 {
    display: inline-block;
    width: 49%;
    height: 78%;
    margin-top: 2px;
    float: left;
    margin-left: 5px;
    background: hsla(11, 42%, 32%, .7);
    border: 2px ridge hsla(11, 32%, 42%, .5);
    color: #FFF;
}

.about-img {
    height: 404px;
    width: 100%;
    margin-bottom: 6px;
}

.col2 {
    display: inline-block;
    width: 49%;
    height: 78%;
    margin-top: 2px;
    float: right;
    margin-right: 5px;
    background: hsla(11, 42%, 32%, .7);
    border: 2px ridge hsla(11, 32%, 42%, .5);
    color: #FFF;
}

.map {
    width: 495px;
}

.form {
    height: 600px;
    margin-top: 30px;
}

h1 {
    text-align: center;
}